.myDashboard h3 {
  font-size: 22px;
}

.myDashboard ul li {
  list-style: none;
  cursor: pointer;
}

.myDashboard ul {
  padding: 0;
  margin: 0;
}

.myDashboard li a {
  text-decoration: none;
  color: #e0e6ed;
  font-size: 15px;
}
div#dashboaard {
  background: linear-gradient(to right, #0081ff 0%, #0045ff 100%);
  font-weight: 700;
  color: #e0e6ed;
  font-size: 15px;
  padding-left: 31px;
}
div#dashboaard li {
  padding: 8px 0px;
}

.myDashboard a {
  font-size: 13px;
}

.myDashboard i {
  margin-right: 11px;
}
