*:focus{
    outline: none;
}
.form_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
}
.form_img{
    width: 35%;
    padding: 50px;
}
.react_form{
    width: 45%;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    padding: 50px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey,-5px -5px 5px rgb(238, 238, 238);
}
.inputGroup {
    display: block;
    margin: .7rem;
    width: 100%;
    padding: 3px;
    font-size: 20px;
    border: 0;
    border-bottom: 1px dashed rgba(247, 63, 30, 0.945);
}

.inputBtn{
    width: 25%;
    margin: .7rem;
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: .5px solid rgba(247, 63, 30, 0.945);
    font-size: 22px;
    color: white;
    background: rgba(247, 63, 30, 0.945);
}
.inputBtn:focus{
    background: rgb(49, 255, 83);
}
.googleBtn {
    background: rgb(255, 166, 49);
    padding: 7px;
    margin: .7rem;
    color: white;
    font-size: 1.3rem;
    border: .5px solid rgba(0, 0, 0, 0);
}
.text_center{
    width: 60%;
    text-align: justify;
    margin: 0 auto;
}
.text_center h1{
    text-align: center;
    color: rgba(228, 83, 57, 0.945);
    font-size: 50px;
}

.car{
    height: 100%;
    width: 60%;
    position: absolute;
    bottom: -15%;
    right: 0;
    content: "";
}
.tik{
    height: 60%;
    width: 20%;
    position: absolute;
    bottom:-19%;
    right: 0;
    content: "";
}